.modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.52);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
}
.modal--isAtivo {
    opacity: 1;
    pointer-events: auto;
}
.modal__wrap {
    margin: 10%;
}

